<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.suishi.live.app">

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />


    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus" />

    <application
        android:name=".AppApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${app_label}"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:name,android:theme,android:allowBackup,android:label">

        <activity
            android:name="com.suishi.live.app.ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="cjcz" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.suishi.live.app.ui.activity.PortraitActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.suishi.live.app.ui.activity.VideoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.CameraActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.activity.GLSurfaceCamera2Activity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <provider
            android:authorities="${applicationId}.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>